# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr
*.local

# Secrets (CRITICAL)
.env
.env.production
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
