.login-page {
  min-height: 100vh;
  background: #f4f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 900px;
  height: 500px;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.login-image {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
  background-size: cover;
  background-position: center;
}

.login-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h2 {
  margin-bottom: 30px;
}

.login-form span {
  color: #1d72f3;
}

.login-form input {
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.login-form button {
  background: #1d72f3;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.forgot {
  margin-top: 15px;
  color: #1d72f3;
  cursor: pointer;
}

.signup {
  margin-top: 10px;
 
}
